.box{  
    padding-left:0 ;
    margin-left:3%;
    margin-top:4%;
    height:200px;
    box-shadow: 0 3px 6px black;
}
.box:hover{
    transform:scale(0.96,0.96); 
}
.hii:hover {
    transform:scale(0.96,0.96); 
  }
  .dropdown-content a:hover {background-color: #ddd;}

